@use 'global';

* {
  margin: 0;
  -webkit-tap-highlight-color: transparent;
}


html::-webkit-scrollbar {
  display: none;
}

body {
  background-color: global.$bg-dark;
  color: global.$col-dark;
  font-family: global.$font;
}

